{% include base_path %}

{% if post.image %}
{% capture teaser %}{{ post.image }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}



<div class="{{ include.type | default: " list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
    <div class="archive__item-teaser">
      <img src={% if teaser contains "://" %} "{{ teaser }}" {% else %} "{{ teaser | prepend: " /images/" | prepend:
        base_path }}" {% endif %} alt="">
    </div>
    {% endif %}

    <div style="max-width: 800px; margin: 0 auto;">

      <h2 class="archive__item-title" itemprop="headline", style = "text-align: center;">
        {% if post.paperurl %}
        <a href="{{ post.paperurl }}">{{ title }}</a> {% comment %}<a href="{{ base_path }}{{ post.url }}"
          rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span
            class="sr-only">Permalink</span></a>{% endcomment %}
        {% elsif post.external_url %}
        <a href="{{ post.external_url }}">{{ title }}</a>
        {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>

      {% if teaser %}
      <div class="archive__item-image", style = "text-align: center;" >
        <img src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: base_path }}{% endif %}"
          alt="{{ title }}"
          style="width: 100%; max-width: 400px; height: 250px; object-fit: cover; border-radius: 4px;">
      </div>
      {% endif %}

      {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}


      {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description" style="text-align: left;">{{ post.excerpt | markdownify }}
      </p>
      {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description" style="text-align: left;">{{ post.excerpt | markdownify |
        remove: '
      <p>' | remove: '</p>' }} <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink">Read more</a></strong>
      </p>
      {% endif %}
    </div>
  </article>

</div>